@model DiscountMe.BL.DiscountCategory

<aside>
    <img src="@Url.Content("~/Images/advertisers-store-icon.png")" alt="" width="240" height="192"/>
</aside>

<article>
    <table class="box_round box_shadow">
        <tfoot>
            <tr>
                <td><p>
                        <input type="submit" value="Create" />
                    </p></td>
                <td></td>   
            </tr>
        </tfoot>

        <tbody>
            <tr>
                <td><p>
                        @Html.LabelFor(model => model.Name, "Nombre*:")
                        @Html.TextBoxFor(model => model.Name)
                        
                    </p>@Html.ValidationMessageFor(model => model.Name)</td>
                <td><p>
                        @Html.LabelFor(model => model.Description, "Descripción:")
                        @Html.TextBoxFor(model => model.Description)
                        
                    </p>@Html.ValidationMessageFor(model => model.Description)</td>   
            </tr>
        </tbody>
    </table>
</article>