@model DiscountMe.BL.ViewModels.AdvertiserVM

@{
    ViewBag.Title = "RegisterNewAdvertiser";
}

<h2>Crear Nueva Cuenta como Anunciante</h2>
<p>
    Utilice el siguiente formulario para crear una nueva cuenta de anunciante.<br/>
    Recuerde que todos los campos con * son obligatorios y la contraseña deben tener un mínimo de @Membership.MinRequiredPasswordLength caracteres de longitud.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "La creación de cuentas no tuvo éxito. Por favor, corrija los errores y vuelva a intentarlo.")
    <div>
        <fieldset>
            <legend>Información de la Cuenta</legend>

            <div class="editor-label">
                @Html.EditorForModel(Model)
            </div>
        </fieldset>
        <input type="submit" value="Registrarse" />
    </div>
}

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}