@if (Request.IsAuthenticated) {
    if (!User.IsInRole("Advertiser")) {
        <p>
            Bienvenido @Html.ActionLink(User.Identity.Name, "Index", "UserManagement", new {area = string.Empty }, new {@class = "username"})!
            @Html.ActionLink("Salir", "LogOff", "Account", new {area = ""}, null)
        </p>
    }
    else {
        <p>
            Bienvenido @Html.ActionLink(User.Identity.Name, "Index", "AdvertisersManagement", new { area = string.Empty }, new { @class = "username" })!
            @Html.ActionLink("Salir", "LogOff", "Account", new {area = ""}, null)
        </p>
    }
} else {
    <ul>
        <li>@Html.ActionLink("Nuevo Anunciante", "RegisterNewAdvertiser", "Account", null, new { id = "registerLink", data_dialog_title = "Registration" })</li>
        <li>@Html.ActionLink("Nuevo Usuario", "RegisterNewUser", "Account", null, new { id = "registerLink", data_dialog_title = "Registration" })</li>
        <li>@Html.ActionLink("Acceder", "LogOn", "Account", null, new { id = "logonLink", data_dialog_title = "Identification" })</li>
    </ul>
}