@model IEnumerable<DiscountMe.BL.Discount>
           
@foreach (var disc in Model) {
    <div class="box_round">
        <p>
            <span>Desde Día y Hora: <span class="white-color">@if (disc.FromDate != null) {
                                                                    @disc.FromDate.Value.ToShortDateString()
                                                                }</span><br/>
                Hasta Día y Hora: <span class="white-color">@if (disc.UntilDate != null) {
                                                                @disc.UntilDate.Value.ToShortDateString()
                                                            }</span>
            </span><br/>
            Categoría: <span class="white-color">@disc.DiscountCategory.Name</span><br/>
            Descuento en: <span class="white-color">@disc.ProductName</span> del <span class="white-color">@disc.DiscountPercent%</span>
        </p>
        <hr/>
    </div>
}