@model DiscountMe.BL.ViewModels.DiscountVM

<script src="@Url.Content("/Scripts/MicrosoftAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/MicrosoftMvcAjax.js")" type="text/javascript"></script>
<script src="@Url.Content("/Scripts/MicrosoftMvcValidation.js")" type="text/javascript"></script>

<aside>
    <img src="../../../Images/advertisers-store-icon.png" alt="" width="240" height="192"/>
</aside>

<article>
    <table class="box_round box_shadow">
        <tbody>
            <tr>
                <td>@Html.DropDownList("SelectedCategoryId", new SelectList(Model.DiscountCategories, "Id", "Name"), new {@class="DropDownList"} )</td>
                <td>@Html.EditorFor(m => m.Discount)</td>   
            </tr>
        </tbody>
   </table>
</article> 